body {
  font-family: "Inter", sans-serif;
  background-color: #181818;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.profile-cd {
  background-color: #111111;
  border-radius: 50px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 350px;
}
.profile-cd h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}
.profile-cd img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.profile-cd p {
  color: #999;
  margin-bottom: 0.5rem;
}
.profile-cd .specialization,
.profile-cd .location {
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}
.profile-cd .social-icons a {
  color: #fff;
  margin-right: 1rem;
}
.profile-cd button {
  background: linear-gradient(to right, #2e9187, #4fd1c5);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}
nav a {
  color: #999;
  margin-right: 1rem;
}
nav a.active {
  color: #fff;
}
nav button {
  background: linear-gradient(to right, #2e9187, #4fd1c5);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.main-content {
  margin-top: -200px;
  margin-left: 100px;
}

.main-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.main-content h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4fd1c5;
  margin-bottom: 1rem;
}

.main-content button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  margin-right: 1rem;
}

header {
  background-color: #111111;
  color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .profile {
  display: flex;
  align-items: center;
}
header .profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
header .profile div {
  margin-left: 8px;
}
header .profile div p {
  margin: 0;
}
header .profile div .name {
  font-size: 18px;
}
header .profile div .status {
  font-size: 14px;
  color: #888;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  color: #888;
  text-decoration: none;
  margin: 0 8px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
nav a:hover {
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
nav a.active {
  color: #494949;
}
.actions {
  display: flex;
  align-items: center;
}
.actions button {
  background-color: #4fd1c5;
  color: #29292c;
  border: none;
  padding: 13px 23px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.actions button:hover {
  background-color: #b4f5ee;
  color: #2e9187;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.actions i {
  color: #888;
  margin-left: 16px;
  font-size: 20px;
}

/* Sun --------------------------------------------------------------- */

.themeToggle {
  color: #bbb;
  width: 3em;
}

.st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
  margin: -25px;
  margin-left: -5px;
  margin-top: -20px;
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* bar-------------------------------------------- */
.hamburgers {
  justify-content: center;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  padding-bottom: 3px;
  position: relative;
}

.hamburger input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  border-radius: 40px;
  transition: all 0.3s cubic-bezier(0.37, -1.11, 0.79, 2.02);
  background-color: #404040;
}

.hamburger input:checked ~ .bar:nth-child(2) {
  transform: translateY(9.5px) rotate(45deg);
}

.hamburger input:checked ~ .bar:nth-child(3) {
  opacity: 0;
}

.hamburger input:checked ~ .bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
}

header {
  position: relative;
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fundo branco com leve transparência */
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden; /* Garante que nada saia do contêiner */
  border-radius: 20px; /* Aumenta o border-radius do contêiner */
}

.image-container img {
  width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
  height: 100%; /* Faz a imagem ocupar toda a altura do contêiner */
  object-fit: cover; /* Mantém as proporções da imagem */
  border-radius: 20px; /* Aumenta o border-radius da imagem */
}

.image-input {
  display: none; /* Esconde o campo de input de arquivo */
}

.barLado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #111111;
  color: #ffff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  position: fixed;
  top: 55%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Pesquisa */
.container-input {
  position: relative;
  margin-left: 450px;
  margin-top: -160px;
  color: #111111;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

footer {
  margin-top: 1000px;
}

.bars {
  margin-right: 10px;
}

.sun {
  margin-right: 10px;
}

.Linkpremium {
  margin-right: 10px;
}

/* From Uiverse.io by Sashank02 */
.Post {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #111111;
  transition: 0.4s;
  margin-top: 130px;
  margin-left: 35px;
}

.Post:hover {
  translate: 0 -10px;
}

.Post-title {
  font-size: 18px;
  font-weight: 600;
  color: #4fd1c5;
  margin: 15px 0 0 10px;
}

.Post-image {
  min-height: 170px;
  background-color: #181818;
  border-radius: 15px;
  background: #181818;
}

.Post-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}

/*Tema Claro----------------------------------*/
.claro {
  background-color: #ffffff;
  color: #181818;
}
.headerclear {
  background-color: #e4e4e4;
  color: #181818;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerclear .profile {
  display: flex;
  align-items: center;
}
.headerclear .profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.headerclear .profile div {
  margin-left: 8px;
}
.headerclear .profile div p {
  margin: 0;
}
.headerclear .profile div .name {
  font-size: 18px;
}
.headerclear .profile div .status {
  font-size: 14px;
  color: #181818;
}
/*----------------------------------------------------------------*/
.navclear a {
  color: #181818;
  margin-right: 1rem;
}
.navclear a.active {
  color: #6e6e6e;
}
.navclear button {
  background: linear-gradient(to right, #2e9187, #4fd1c5);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.navclear a:hover {
  color: #6e6e6e;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* sun----------------------------------------------------------------*/
.themeToggleClear {
  color: #181818;
  width: 3em;
}

.st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
  margin: -25px;
  margin-left: -5px;
  margin-top: -20px;
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*--------Prifile cd-------------------------*/

.profile-cdClear {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 350px;
}
